C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/AddressPhoneUsageBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
    <xsd:include schemaLocation="AddressUsageBO.xsd"/>
    <xsd:include schemaLocation="PhoneUsageBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="AddressPhoneUsageBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="phoneUsage" type="bons1:PhoneUsageBO"/>
          <xsd:element minOccurs="0" name="phoneSK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="phoneUsageTypeCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="phoneUsageSequenceNumber" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
