C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/AddressRepCrossReferenceBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
    <xsd:include schemaLocation="AddressUsageBO.xsd"/>
    <xsd:include schemaLocation="CommonEntityRepCrossReferenceBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="AddressRepCrossReferenceBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="representativeSK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="representativeCrossRefTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="commonEntityRepCrossReference" type="bons1:CommonEntityRepCrossReferenceBO"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
