C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/BankruptcyBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="BankruptcyBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="bankruptcyBeginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="bankruptcyEndDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="bankruptcyTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="claimAmount" type="xsd:double"/>
          <xsd:element minOccurs="0" name="postDebitAmount" type="xsd:double"/>
          <xsd:element minOccurs="0" name="postDebitIndicator" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="payeePayerBankruptcySequenceNumber" type="xsd:long"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
