C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/CommonReviewBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.administration.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="CommonReviewBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="commonEntityTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="reviewSequenceNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="reviewBeginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="reviewEndDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="reviewVoidIndicator" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="reviewTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="reviewReasonCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="reviewSourceCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="mapSetID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="secureClerkID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="reviewDateTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="claimException" type="bons1:ClaimExceptionBO"/>
          <xsd:element minOccurs="0" name="lob" type="bons1:LineOfBusinessBO"/>
          <xsd:element minOccurs="0" name="locationText" type="bons1:LocationTextBO"/>
                    <xsd:element minOccurs="0" name="cmnReviewType" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
