C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/ElectronicFundTransferBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
    <xsd:include schemaLocation="AddressBO.xsd"/>
    <xsd:include schemaLocation="PhoneBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="ElectronicFundTransferBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">        <xsd:sequence>
          <xsd:element minOccurs="0" name="accountTypecode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="bankRoutingTransit" type="xsd:string"/>
          <xsd:element minOccurs="0" name="accountNumber" type="xsd:long"/>
          <xsd:element minOccurs="0" name="bankBranchName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="financeInstitutionName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="statusCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="beginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="endDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="statusDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="accountHolderName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="providerPayeeName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="bankPhone" type="bons0:PhoneBO"/>
                    <xsd:element minOccurs="0" name="bankAddress" type="bons0:AddressBO"/>
                    <xsd:element minOccurs="0" name="effectiveSetupBeginDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="payeePayerEffectiveSetupSequenceNumber" type="xsd:long"/>
                </xsd:sequence>                          
                    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
