C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/EmailAddressBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
    <xsd:include schemaLocation="CommonEntityTypeBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="EmailAddressBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">        <xsd:sequence>
      <xsd:element minOccurs="0" name="eAddressSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="eAddressText" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bounceAddressIndicator" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="commonEntityType" type="bons0:CommonEntityTypeBO"/>
                    <xsd:element minOccurs="0" name="commonEntityTypeCode" type="xsd:string"/>
                </xsd:sequence>                          
                    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
