C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/EmailAddressUsageBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons3="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CommonEntityBO.xsd"/>
    <xsd:include schemaLocation="EmailAddressUsageLOBBO.xsd"/>
    <xsd:include schemaLocation="EmailAddressBO.xsd"/>
    <xsd:complexType name="EmailAddressUsageBO">
    <xsd:complexContent>
      <xsd:extension base="bons3:EnterpriseBaseDomainBO">        <xsd:sequence>
      <xsd:element minOccurs="0" name="eAddressUsageTypeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="eAddressUsageSigCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="beginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="endDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="eAddressSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="eAddress" type="bons0:EmailAddressBO"/>
                    <xsd:element minOccurs="0" name="eaddressUsageSequenceNumber" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="eaddressUsageGlobalSigCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="eaddressUsageStatusCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="incmgTxnTypeCode" type="xsd:string"/>
                </xsd:sequence>                          
                    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
