C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/FinancialInformationBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons3="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
    <xsd:include schemaLocation="CommonEntityTypeBO.xsd"/>
    <xsd:include schemaLocation="BankruptcyBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.administration.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="ElectronicFundTransferBO.xsd"/>
    <xsd:complexType name="FinancialInformationBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">        <xsd:sequence>
          <xsd:element minOccurs="0" name="electronicFundTransfers" type="bons0:ElectronicFundTransferBO" maxOccurs="unbounded"/>
                    <xsd:element minOccurs="0" name="bankruptcy" type="bons0:BankruptcyBO" maxOccurs="unbounded"/>
                    <xsd:element minOccurs="0" name="commonEntitySK" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="businessName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="commonEntityTypeCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="commonEntityType" type="bons0:CommonEntityTypeBO"/>
                    <xsd:element minOccurs="0" name="vendorMasterNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="recoupmentInstallmentAmount" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="recoupmentPctAmount" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="recoupmentDaysNumber" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="claimAmount" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="w9SignedDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="midName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sortName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="entityID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="entityIDTypeCode" type="xsd:string"/>
                </xsd:sequence>                          
                    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
