C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/MetaDataTableBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
  <xsd:complexType name="MetaDataTableBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tableName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tableBusinessName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tableBusinessDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
