C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/PhoneBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
  <xsd:complexType name="PhoneBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">        <xsd:sequence>
          <xsd:element minOccurs="0" name="phoneSK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="phoneNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="phoneExtension" type="xsd:string"/>
          <xsd:element minOccurs="0" name="countryCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="internationalPhoneNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="outOfServiceIndicator" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="commonEntityTypeCode" type="xsd:string"/>
                </xsd:sequence>                        </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
