C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/ProviderOrganizationBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ProviderOrganizationBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="organisationName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="organisationDescription" type="xsd:string"/>
          <xsd:element minOccurs="0" name="commonEntitySK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="prefixName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="middleInitial" type="xsd:string"/>
          <xsd:element minOccurs="0" name="suffixName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="phoneNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="extensionNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="email" type="xsd:string"/>
          <xsd:element minOccurs="0" name="userID" type="xsd:string"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
