C837ClaimsLibrary/com/acs/enterprise/common/program/commonentities/process/bo/RepCommonEntityBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo">
    <xsd:include schemaLocation="AddressUsageBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="RepCommonEntityBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
         <xsd:sequence>
          <xsd:element minOccurs="0" name="commonEntitySK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="voidIndicator" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="commonEntityTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="secCommunicationCode" type="xsd:string"/>          
                    <xsd:element minOccurs="0" name="addressUsage" type="bons1:AddressUsageBO" maxOccurs="unbounded"/>
                </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
