C837ClaimsLibrary/com/acs/enterprise/common/base/process/bo/EditBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo">
  <xsd:complexType name="EditBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="editCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="longDesc" type="xsd:string"/>
      <xsd:element minOccurs="0" name="shortDesc" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
