C837ClaimsLibrary/com/acs/enterprise/common/base/process/bo/EnterpriseBaseDomainBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo">
  <xsd:complexType name="EnterpriseBaseDomainBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="auditUserID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="auditTimeStamp" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="addedAuditUserID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="addedAuditTimeStamp" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="versionNo" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
