C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/BoardCertifiedSpecialityBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/common/domain" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">   
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="BoardCertifiedSpecialityBO">
        <xsd:annotation>
      <xsd:documentation>This object holds Information for Board Certified Speciality. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">        <xsd:sequence>
      <xsd:element minOccurs="0" name="stateCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="specialityBeginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="specialityEndDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="specialityCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="specialityCertBoardCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="specialityCertNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="specialitySK" type="xsd:long"/>
    </xsd:sequence>                            
                    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
