C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/CLIACertificationBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CLIALabBO.xsd"/>
    <xsd:complexType name="CLIACertificationBO">
        <xsd:annotation>
      <xsd:documentation>This object holds Information for Clinical Laboratory Certification.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
      <xsd:sequence>
      	<xsd:element minOccurs="0" name="cliaCertTypeCode" type="xsd:string"/>
      	<xsd:element minOccurs="0" name="cliaCertBeginDate" type="xsd:date"/>
      	<xsd:element minOccurs="0" name="cliaCertEndDate" type="xsd:date"/>
        <xsd:element minOccurs="0" name="cliaLabTypeCode" type="xsd:string"/>
        <xsd:element minOccurs="0" name="cliaCertLineItemNum" type="xsd:string"/>
      	<xsd:element minOccurs="0" name="cliaLab" type="bons0:CLIALabBO"/>
      </xsd:sequence>                  
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
