C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/EnrollmentAffiliationBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="EnrollmentAffiliationBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="affiliationSeqNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="affiliationMedicaidID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="affiliationName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="beginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="endDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="afflTypeCode" type="xsd:string"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
