C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/EnrollmentTPCarrierBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:include schemaLocation="EnrollmentTPCarrierTransactionBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="EnrollmentTPCarrierBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="enrolCarrierSeqNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="submitCarrierID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="beginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="endDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="enrollmentTPCarrierTransaction" type="bons1:EnrollmentTPCarrierTransactionBO" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
