C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/EnrollPackageRequestBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons3="http://AddressValidationLibrary/com/acs/enterprise/common/cots/addressvalidation/bo" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" xmlns:bons4="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.ContactManagementLibrary.com.acs.enterprise.mmis.program.contactmanagment.process.bo.xsd" namespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/process/bo"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.AddressValidationLibrary.com.acs.enterprise.common.cots.addressvalidation.bo.xsd" namespace="http://AddressValidationLibrary/com/acs/enterprise/common/cots/addressvalidation/bo"/>
    <xsd:complexType name="EnrollPackageRequestBO">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="addressResponseDataArray" type="bons3:AddressResponseDataArrayBO"/>
            <xsd:element minOccurs="0" name="applicationType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="name" type="bons0:NameBO"/>
            
            <xsd:element minOccurs="0" name="organisationName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="phone" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ext" type="xsd:string"/>
            <xsd:element minOccurs="0" name="contactPhone" type="xsd:string"/>
            <xsd:element minOccurs="0" name="contactExt" type="xsd:string"/>
            <xsd:element minOccurs="0" name="contact" type="bons0:NameBO"/>
            <xsd:element minOccurs="0" name="attention" type="xsd:string"/>
            <xsd:element minOccurs="0" name="address" type="bons1:AddressBO"/>
            <xsd:element minOccurs="0" name="correspondence" type="bons4:CorrespondenceRecordBO"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
