C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/EnrollPackageResponseBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://AddressValidationLibrary/com/acs/enterprise/common/cots/addressvalidation/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.AddressValidationLibrary.com.acs.enterprise.common.cots.addressvalidation.bo.xsd" namespace="http://AddressValidationLibrary/com/acs/enterprise/common/cots/addressvalidation/bo"/>
    <xsd:complexType name="EnrollPackageResponseBO">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="statusMsg" type="xsd:string"/>
            <xsd:element minOccurs="0" name="addressResponseDataArray" type="bons0:AddressResponseDataArrayBO"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
