C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/EnrollmentStatusBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="EnrollmentStatusBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="enrollmentStatusCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="enrollmentBeginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="enrollmentEndDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="enrollmentStatusReasonCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="enrollmentStatusSK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="rtrctvEligibilityInd" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="sysID" type="xsd:long"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
