C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/LanguageBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/common/domain" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="LanguageBO">
        <xsd:annotation>
      <xsd:documentation>This object holds Information for Language.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">        <xsd:sequence>
      <xsd:element minOccurs="0" name="languageCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="primLanguageIndicator" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="languageSK" type="xsd:long"/>
                </xsd:sequence>                                          
            
  
                    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
