C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/LicenseCertificationBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/common/domain" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="ProviderBO.xsd"/>
    
    <xsd:complexType name="LicenseCertificationBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">        <xsd:sequence>
          <xsd:element minOccurs="0" name="licenseVerifyIndicator" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="licensePermitID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="licenseRestrictionCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="licenseCertNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="licenseCertCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="licenseCertEndDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="licenseCertBeginDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="licenseCertStateCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="licenseCertAgencyCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="licenseCertIndicatorCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="licenseCertSK" type="xsd:long"/>
                </xsd:sequence>                                    
    
  
                    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
