C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/MedicareBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/common/domain" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons3="http://TPLAdministrationLibrary/com/acs/enterprise/mmis/operations/tpladministration/process/bo" xmlns:bons0="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:include schemaLocation="TPCarrierBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
    
    <xsd:complexType name="MedicareBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">        <xsd:sequence>
          <xsd:element minOccurs="0" name="medicareBeginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="medicareEndDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="medicareAltID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="medicarePartCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="tplCarrier" type="bons0:TPCarrierBO"/>
                    <xsd:element minOccurs="0" name="medicareSK" type="xsd:long"/>
                </xsd:sequence>                                          
           
  
                    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
