C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/OfficeHoursBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="OfficeHoursBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="dayOfWeekCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="officeOpenTime" type="xsd:string"/>
      <xsd:element minOccurs="0" name="officeCloseTime" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="officeHoursSK" type="xsd:long"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
