C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/OwnershipCrossReferenceBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="OwnerInformationBO.xsd"/>
    <xsd:complexType name="OwnershipCrossReferenceBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="personalRelationshipCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="federalTaxID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ownershipPercent" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ownerBeginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="ownerEndDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="ownerInformation" type="bons0:OwnerInformationBO"/>
                    <xsd:element minOccurs="0" name="ownerTaxID" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="ownerCrossReferenceSK" type="xsd:long"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
