C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/PreviousMedicaidBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/common/domain" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="PreviousMedicaidBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">        <xsd:sequence>
          <xsd:element minOccurs="0" name="prevMedicaidAltId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="prevMedicaidBeginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="prevMedicaidEndDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="federalTaxID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="prevMedicaidSK" type="xsd:long"/>
                </xsd:sequence>                                          
            
  
                    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
