C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/ProviderRequestBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" xmlns:bons1="http://AddressValidationLibrary/com/acs/enterprise/common/cots/addressvalidation/bo" xmlns:bons2="http://LetterGenerationLibrary/com/acs/enterprise/common/cots/lettergeneration/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.LetterGenerationLibrary.com.acs.enterprise.common.cots.lettergeneration.process.bo.xsd" namespace="http://LetterGenerationLibrary/com/acs/enterprise/common/cots/lettergeneration/process/bo"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.AddressValidationLibrary.com.acs.enterprise.common.cots.addressvalidation.bo.xsd" namespace="http://AddressValidationLibrary/com/acs/enterprise/common/cots/addressvalidation/bo"/>
    <xsd:include schemaLocation="ProviderBO.xsd"/>
    <xsd:complexType name="ProviderRequestBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saveStatus" type="xsd:string"/>
      <xsd:element minOccurs="0" name="provider" type="bons0:ProviderBO"/>
            <xsd:element minOccurs="0" name="providerSysID" type="xsd:long"/>
            <xsd:element minOccurs="0" name="addressResponseDataArray" type="bons1:AddressResponseDataArrayBO"/>
            <xsd:element minOccurs="0" name="applicationNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="letterGenerationInput" type="bons2:LetterGenerationInputBO"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
