C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/ProviderNetworkBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.administration.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="ProviderNetworkBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
         <xsd:sequence>
              <xsd:element minOccurs="0" name="networkStatus" type="xsd:string"/>
              <xsd:element minOccurs="0" name="networkEndDate" type="xsd:date"/>
              <xsd:element minOccurs="0" name="networkBeginDate" type="xsd:date"/>
              <xsd:element minOccurs="0" name="networkPartSK" type="xsd:long"/>
                  <xsd:element minOccurs="0" name="networkStatusReasonCode" type="xsd:string"/>          
                    <xsd:element minOccurs="0" name="network" type="bons1:NetworkBO"/>
                </xsd:sequence>
	  </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
