C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/ReviewClaimTypeBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:complexType name="ReviewClaimTypeBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="reviewClaimType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="reviewBeginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="reviewEndDate" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
