C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/SoftwareSupportedTxnTypeBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:include schemaLocation="TransactionTypeBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="SoftwareSupportedTxnTypeBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="testingLevelStatusCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="testingLevelStatusDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="transactionType" type="bons1:TransactionTypeBO"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
