C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/TPCarrierBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
  <xsd:complexType name="TPCarrierBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="carrierID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="carrierName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
