C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/TPProviderCrossReferenceBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:include schemaLocation="TradingPartnerBO.xsd"/>
    <xsd:include schemaLocation="ProviderBO.xsd" />
    <xsd:include schemaLocation="TPProviderTransactionBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="TPProviderCrossReferenceBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="tpProviderCrossRefBeginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="tpProviderCrossRefEndDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="tpProviderTransaction" type="bons1:TPProviderTransactionBO" maxOccurs="unbounded"/>
		    <xsd:element minOccurs="0" name="provider" type="bons1:ProviderBO"/>
                    <xsd:element minOccurs="0" name="tradPartId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="txnDirectionCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="tpProviderCrossRefSequenceNumber" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="sysID" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="tradingPartner" type="bons1:TradingPartnerBO"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>