C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/TPProviderTransactionBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:include schemaLocation="TPTransactionTransmissionBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="TPProviderTransactionBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="tpProviderTransacBeginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="tpProviderTransacEndDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="x12VersionCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="txnTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="txnDirectionCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="tpTxnTypeSeqNum" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="tpProviderTxnSeqNum" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="tpProviderXRefereceSeqNum" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="tpTransactionTransmission" type="bons1:TPTransactionTransmissionBO"/>
                    <xsd:element minOccurs="0" name="tradingPartnerId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="providerSysId" type="xsd:long"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
