C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/TPTransactionDefaultDeliverBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="TPTransactionDefaultDeliverBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="txnDirectionCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="txnTypeCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="x12VersionCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="defaultDeliveryBeginDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="defaultDeliveryEndDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="subElementDelimiterCode" type="xsd:string"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
