C837ClaimsLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo/TransactionTypeBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="TransactionTypeBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="x12VersionCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="txnTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="txnDefaultDeliveryBeginDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="txnDefaultDeliveryEndDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="txnDirectionCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="segmentDelimiterCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="deliveryDestinationCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="elementDelimeterCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="subElementDelimeterCode" type="xsd:string"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
