C837ClaimsLibrary/com/acs/enterprise/common/cots/edms/process/bo/EDMSTriggerBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EDMSLibrary/com/acs/enterprise/common/cots/edms/process/bo">
  <xsd:complexType name="EDMSTriggerBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="strModuleName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="strTimeDuration" type="xsd:string"/>
            <xsd:element minOccurs="0" name="runID" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
