C837ClaimsLibrary/com/acs/enterprise/common/cots/edms/process/bo/EDMSQuickSearchReturnBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EDMSLibrary/com/acs/enterprise/common/cots/edms/process/bo" targetNamespace="http://EDMSLibrary/com/acs/enterprise/common/cots/edms/process/bo">
    <xsd:include schemaLocation="EDMSUserKeyListBO.xsd"/>
    <xsd:include schemaLocation="EDMSIndexBO.xsd"/>
    <xsd:complexType name="EDMSQuickSearchReturnBO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="strPageId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="edmsIndexBO" type="bons0:EDMSUserKeyListBO" maxOccurs="1"/>
    </xsd:sequence>
        
                  
            
    </xsd:complexType>
</xsd:schema>
