C837ClaimsLibrary/com/acs/enterprise/common/cots/edms/process/bo/EDMSPageInfoListBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EDMSLibrary/com/acs/enterprise/common/cots/edms/process/bo" targetNamespace="http://EDMSLibrary/com/acs/enterprise/common/cots/edms/process/bo">
    <xsd:include schemaLocation="EDMSPageInfoBO.xsd"/>
    <xsd:complexType name="EDMSPageInfoListBO">
        <xsd:annotation>
      <xsd:documentation>This is the BO returned from the ESB module for Get Document information</xsd:documentation>
    </xsd:annotation>
        <xsd:sequence>
      <xsd:element minOccurs="1" name="edmsPageInfoList" type="bons0:EDMSPageInfoBO" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Self explanatory</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
            <xsd:element minOccurs="0" name="moduleName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="runID" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
