C837ClaimsLibrary/com/acs/enterprise/common/cots/edms/process/bo/EDMSFaultBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EDMSLibrary/com/acs/enterprise/common/cots/edms/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.process.bo.xsd"/>
  <xsd:complexType name="EDMSFaultBO">
        <xsd:annotation>
      
    <xsd:documentation>This is the exception BO returned to the calling Enterprise Module from the EDMS business process</xsd:documentation>
    </xsd:annotation>
        <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBusinessFaultBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="strErrorDescription" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This attribute stores error description information returned from EDMS.&#13;
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="strErrorLevel" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This attribute stores error level returned from EDMS.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="strErrorMessage" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This attribute stores error message returned from EDMS.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
