C837ClaimsLibrary/com/acs/enterprise/common/program/benefitadministration/process/bo/MapSetHeaderBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo"/>
    <xsd:complexType name="MapSetHeaderBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mapSetID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lobCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mapTypeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mapDesc" type="xsd:string"/>
      <xsd:element minOccurs="0" name="noteSet" type="bons0:NoteSetBO"/>
      <xsd:element minOccurs="0" name="mapSet" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
