C837ClaimsLibrary/com/acs/enterprise/common/process/bo/ErrorDescriptionBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/process/bo">
  <xsd:complexType name="ErrorDescriptionBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="editCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorDesc" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bypassInd" type="xsd:string"/>
            <xsd:element minOccurs="0" name="errorData" type="xsd:string"/>
            <xsd:element minOccurs="0" name="errorAttribute" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
