C837ClaimsLibrary/com/acs/enterprise/common/cots/lettergeneration/process/bo/KeywordBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://LetterGenerationLibrary/com/acs/enterprise/common/cots/lettergeneration/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="KeywordBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="key" type="xsd:string"/>
      <xsd:element minOccurs="0" name="value" type="xsd:string"/>
            <xsd:element minOccurs="0" name="KeyWordUsageCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="keyWordLongDesc" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="letterKeyWordID" type="xsd:string"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
