C837ClaimsLibrary/com/acs/enterprise/common/cots/lettergeneration/process/bo/LetterRealTimeBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://LetterGenerationLibrary/com/acs/enterprise/common/cots/lettergeneration/process/bo">
  <xsd:complexType name="LetterRealTimeBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="realTimeResponse" type="xsd:hexBinary" maxOccurs="1"/>
            <xsd:element minOccurs="0" name="letterRequestSK" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
