C837ClaimsLibrary/com/acs/enterprise/common/cots/lettergeneration/process/bo/LetterReceiverSKBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://LetterGenerationLibrary/com/acs/enterprise/common/cots/lettergeneration/process/bo">
  <xsd:complexType name="LetterReceiverSKBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="letterReceiverSK" type="xsd:string"/>
      <xsd:element minOccurs="0" name="rowSelIndicator" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="cotsLtrRecTypeCode" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
