C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/AmbulanceInfoBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:include schemaLocation="ConditionCodeInfoBO.xsd"/>
    <xsd:complexType name="AmbulanceInfoBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:ConditionCodeInfoBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="patientWeightMeasurementCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="patientWeight" type="xsd:double"/>
      <xsd:element minOccurs="0" name="transportCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="transportReasonCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="transportDistanceMeasurementCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="transportDistance" type="xsd:double"/>
      <xsd:element minOccurs="0" name="roundTripDescription" type="xsd:string"/>
      <xsd:element minOccurs="0" name="stretcherDescription" type="xsd:string"/>
      <xsd:element minOccurs="0" name="certificationCode1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="certificationCode2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="certificationCode3" type="xsd:string"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
