C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/BatchInfoBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="BatchInfoBO">
        <xsd:sequence>
        <xsd:element name="documentTypeCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="mediaSourceCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="batchNumber" type="xsd:string" minOccurs="0"/>
          <xsd:element name="batchDate" type="xsd:date" minOccurs="0"/>
          <xsd:element name="paymentTypeCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="batchTypeCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="julianDateNumber" type="xsd:string" minOccurs="0"/>
            <xsd:element name="documentNumber" type="xsd:string" minOccurs="0"/>
            <xsd:element name="transactionTypeCode" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        
      
    </xsd:complexType>
</xsd:schema>
