C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/C837QuestionBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="C837QuestionBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="sequenceNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="formID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="formIDQualifierCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="questionCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="responseCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="responseText" type="xsd:string"/>
      <xsd:element minOccurs="0" name="responseDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="responsePercent" type="xsd:double"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
