C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/C837TraceBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="C837TraceBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="traceNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="receiverName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="submitterID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="renderingProviderID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="rejectCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ediReceiptDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="mercatorDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="adjudicationDate" type="xsd:date"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
