C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/C837AttachmentBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="C837AttachmentBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="attachmentCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="controlCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="controlNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="transmissionCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sequenceNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
      </xsd:sequence>
                      
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
      </xsd:schema>
