C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimTPLBillingBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:include schemaLocation="ClaimTPLInfoBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ClaimTPLBillingBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="policySequenceNumber" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="coveragePolicyCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="groupPolicySK" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="carrierID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="coverageMemberSK" type="xsd:long"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
