C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimAdjustmentReasonBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ClaimAdjustmentReasonBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">    
                <xsd:sequence>
          <xsd:element minOccurs="0" name="adjustmentGroupCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="adjustmentReasonAmount" type="xsd:double"/>
          <xsd:element minOccurs="0" name="adjustmentUnitQuantity" type="xsd:double"/>
          <xsd:element minOccurs="0" name="changeReasonCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="exceptionCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="sequenceNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="tplSequenceNumber" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="adjustmentReasonCode" type="xsd:string"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
