C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimLineItemsProvidersBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>    
  <xsd:complexType name="ClaimLineItemsProvidersBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">        <xsd:sequence>
         <xsd:element name="referringProviderIndex" type="xsd:int" minOccurs="0"/>
          <xsd:element name="renderingProviderIndex" type="xsd:int" minOccurs="0"/>
          <xsd:element name="attendingProviderIndex" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>                        </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
