C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimSABackoutBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:include schemaLocation="EnterpriseClaimBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ClaimSABackoutBO">
        <xsd:annotation>
      <xsd:documentation>This Data Object holds the Information of ClaimSABackout Domain Object</xsd:documentation>
    </xsd:annotation>
        <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="serviceAuthID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="usedAmount" type="xsd:double"/>
          <xsd:element minOccurs="0" name="usedQuantity" type="xsd:double"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
