C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimLineItemProcessFieldsBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ClaimLineItemProcessFieldsBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="ruleCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="networkAssociation" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="mapDefCoverd" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="networkStatusCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="revenueCodeReqsProcIndicatorForPricing" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="pricingByPassIndicator" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="saPricingIndicator" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="saLowerOfLogicIndicator" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="relatedIndicator" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="saBaseRate" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="procedureBaseRate" type="xsd:double"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
