C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimsLTCSpanBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:complexType name="ClaimsLTCSpanBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="voidIndicator" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="beginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="endDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="ltcSpanTypeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="providerSysID" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
