C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimAdjustmentBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">    
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ClaimAdjustmentBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
        <xsd:sequence>
                    <xsd:element name="externalTCN" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="adjustmentReasonCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="replacedTCN" type="xsd:string" minOccurs="0"/>
          <xsd:element name="adjustmentStatusCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="replacementTCN" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fcn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="adjustmentOriginalTCN" type="xsd:string" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="sequenceNumber" type="xsd:int"/>
                </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
