C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimAuxBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:include schemaLocation="C837LineItemProviderBO.xsd"/>
    <xsd:include schemaLocation="C837TraceBO.xsd"/>
    <xsd:include schemaLocation="C837ServiceLineItemBO.xsd"/>
    <xsd:include schemaLocation="C837QuestionBO.xsd"/>
    <xsd:include schemaLocation="C837OtherPayerAdjustmentBO.xsd"/>
    <xsd:include schemaLocation="C837OtherPayerBO.xsd"/>
    <xsd:include schemaLocation="C837ProfessionalLineItemBO.xsd"/>
    <xsd:include schemaLocation="C837DentalLineItemBO.xsd"/>
    <xsd:include schemaLocation="C837InstitutionalLineItemBO.xsd"/>
    <xsd:include schemaLocation="C837HomeHealthPlansBO.xsd"/>
    <xsd:include schemaLocation="C837AttachmentBO.xsd"/>
    <xsd:include schemaLocation="C837ClaimHdrBO.xsd"/>
    <xsd:include schemaLocation="C837SpecializedServiceBO.xsd"/>
    <xsd:include schemaLocation="C837ClaimProviderBO.xsd"/>
    <xsd:include schemaLocation="C837PayerBO.xsd"/>
    <xsd:include schemaLocation="C837InstitutionalClaimBO.xsd"/>
    <xsd:include schemaLocation="C837DentalClaimBO.xsd"/>
    <xsd:include schemaLocation="C837ClaimBO.xsd"/>
    <xsd:include schemaLocation="EnterpriseClaimBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ClaimAuxBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
         <xsd:element minOccurs="0" name="tcn" type="xsd:string"/>
          <xsd:element minOccurs="0" name="memberSystemID" type="xsd:long"/>
            <xsd:element minOccurs="0" name="c837ClaimHdr" type="bons1:C837ClaimHdrBO"/>
                </xsd:sequence>
                        
      
    
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
