C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimLIDrugInfoBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ClaimLIDrugInfoBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="sequenceNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="drugQualifierCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="drugCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="unitPriceAmount" type="xsd:double"/>
          <xsd:element minOccurs="0" name="unitQualifierCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="unitCount" type="xsd:double"/>
          <xsd:element minOccurs="0" name="prescriptionQualifierCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="prescriptionNumber" type="xsd:string"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
