C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimProviderLineItemRulesBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:include schemaLocation="ClaimProviderCommonRulesBO.xsd"/>    
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ClaimProviderLineItemRulesBO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="referringProviderCommonVO" type="bons1:ClaimProviderCommonRulesBO"/>
          <xsd:element minOccurs="0" name="renderingProviderCommonVO" type="bons1:ClaimProviderCommonRulesBO"/>
          <xsd:element minOccurs="0" name="attendingProviderCommonVO" type="bons1:ClaimProviderCommonRulesBO"/>
            <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
        </xsd:sequence>
        
            
    </xsd:complexType>
</xsd:schema>
