C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimSALineItemBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="ClaimSALineItemBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="lineItemStatusCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="serviceTypeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="usedAmount" type="xsd:double"/>
      <xsd:element minOccurs="0" name="usedUnitAmount" type="xsd:double"/>
      <xsd:element minOccurs="0" name="approvedAmount" type="xsd:double"/>
      <xsd:element minOccurs="0" name="approvedUnitAmount" type="xsd:double"/>
      <xsd:element minOccurs="0" name="serviceAuthID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="inProcessedUsedUnits" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="inProcessedUsedAmounts" type="xsd:double"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
