C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ClaimProviderCommonRulesBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ClaimProviderCommonRulesBO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="validProvider" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="cosMatch" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="providerValidForDOS" type="xsd:boolean"/>
        </xsd:sequence>
        
            
    </xsd:complexType>
</xsd:schema>
