C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/CoveragePolicyHolderBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:include schemaLocation="MemberTPLSpanBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="CoveragePolicyHolderBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
        <xsd:sequence>
        <xsd:element name="policyHolderSSNNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="policyHolderID" type="xsd:int" minOccurs="0"/>
      <xsd:element name="coveragePolicyHolderSequenceNumber" type="xsd:int" minOccurs="0"/>
      <xsd:element name="coveragePolicyHolderID" type="xsd:int" minOccurs="0"/>
      <xsd:element name="policyHolderDateOfDeath" type="xsd:date" minOccurs="0"/>
      <xsd:element name="policyHolderDateOfBirth" type="xsd:date" minOccurs="0"/>
      <xsd:element name="groupID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="employerID" type="xsd:int" minOccurs="0"/>
      <xsd:element name="groupPolicyNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="groupPolicySequenceNumber" type="xsd:int" minOccurs="0"/>
      <xsd:element name="memberTPLSpan" type="bons1:MemberTPLSpanBO" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
