C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/DurableMedicalEquipmentRegionalCarrierBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:include schemaLocation="ConditionCodeInfoBO.xsd"/>
    <xsd:complexType name="DurableMedicalEquipmentRegionalCarrierBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:ConditionCodeInfoBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="reportTypeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="transmissionCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="certificationCode1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="certificationCode2" type="xsd:string"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
