C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/EnterpriseClaimLineItemBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" xmlns:bons3="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/intf" xmlns:bons2="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:include schemaLocation="ConditionCodeBO.xsd"/>
    <xsd:include schemaLocation="ClaimLIDrugInfoBO.xsd"/>
    <xsd:include schemaLocation="EnterpriseClaimLineItemAuxBO.xsd"/>
    <xsd:include schemaLocation="ClaimLineItemProcessFieldsBO.xsd"/>
    <xsd:include schemaLocation="MedicareDetailsBO.xsd"/>
    <xsd:include schemaLocation="ClaimDataValidationRulesBO.xsd"/>
    <xsd:include schemaLocation="ClaimProviderBO.xsd"/>
    <xsd:include schemaLocation="ClaimServiceAuthorizationBO.xsd"/>
    <xsd:include schemaLocation="DentalLineItemBO.xsd"/>
    <xsd:include schemaLocation="InstitutionalLineItemBO.xsd"/>
    <xsd:include schemaLocation="RelatedHistoryBO.xsd"/>    
    <xsd:include schemaLocation="ProfessionalLineItemBO.xsd"/>
    <xsd:include schemaLocation="ClaimProviderIdBO.xsd"/>
    <xsd:include schemaLocation="ClaimAdjudicationEditBO.xsd"/>
    <xsd:include schemaLocation="DentalLineItemBO.xsd"/>
    <xsd:include schemaLocation="ClaimAdjudicationEditBO.xsd"/>
    <xsd:include schemaLocation="AdditionalRemarkBO.xsd"/>    
    <xsd:include schemaLocation="RelatedHistoryBO.xsd"/>
    <xsd:include schemaLocation="InstitutionalLineItemBO.xsd"/>
    <xsd:include schemaLocation="ProfessionalLineItemBO.xsd"/>    
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="EnterpriseClaimLineItemBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
        <xsd:sequence>
                    <xsd:element name="lineNumber" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="abortionIndicator" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="allowedChargeAmount" type="xsd:double" minOccurs="0"/>
      <xsd:element name="allowedUnitQty" type="xsd:double" minOccurs="0"/>
      <xsd:element name="benefitPlanID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="followUpLimitDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="fundCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FDOS" type="xsd:date" minOccurs="0"/>
      <xsd:element name="LDOS" type="xsd:date" minOccurs="0"/>
                    <xsd:element name="multipleSurgeryIndicator" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="lifetimeIndicator" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="billingProcedureModifier1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="billingProcedureModifier2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="billingProcedureModifier3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="billingProcedureModifier4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="reimbursementStatusCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="serviceAuthIndicator" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="epsdtConditionCode" type="xsd:string"/>
                    <xsd:element name="baseRateSourceCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="baseRateAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="calculatedAllowedAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="categoryOfServiceCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="submittedCLIANumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="copayExemptCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="costAvoidIndicator" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="duplicateCheckIndicator" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="fatalErrorIndicator" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="hysterectomyIndicator" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="placeOfServiceCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="procedureCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="submitChargeAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="mapSetID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="reimbursementAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="reimbursementUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="serviceArea" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="sterilizationIndicator" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="submitUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="tplAmount" type="xsd:double" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="memberLockInSystemID" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="memberLockInTypeCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="claimServiceAuthorization" type="bons2:ClaimServiceAuthorizationBO"/>
                    <xsd:element minOccurs="0" name="renderingProvider" type="bons2:ClaimProviderBO"/>
                    <xsd:element minOccurs="0" name="referringProvider" type="bons2:ClaimProviderBO"/>
                    <xsd:element minOccurs="0" name="attendingProvider" type="bons2:ClaimProviderBO"/>
                    <xsd:element minOccurs="0" name="dentalLineItem" type="bons2:DentalLineItemBO"/>
                    <xsd:element minOccurs="0" name="professionalLineItem" type="bons2:ProfessionalLineItemBO"/>
                    <xsd:element minOccurs="0" name="institutionalLineItem" type="bons2:InstitutionalLineItemBO"/>
                    <xsd:element minOccurs="0" name="procedureModifierCode1" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="procedureModifierCode2" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="procedureModifierCode3" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="procedureModifierCode4" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="statusCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="dispositionCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="medicareDetails" type="bons2:MedicareDetailsBO"/>
                    <xsd:element minOccurs="0" name="referralID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="localProcedureCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="cosDefaultIndicator" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="upn" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="claimLineItemProcessFields" type="bons2:ClaimLineItemProcessFieldsBO"/>
                    <xsd:element minOccurs="0" name="enterpriseClaimLineItemAux" type="bons2:EnterpriseClaimLineItemAuxBO"/>
                    <xsd:element minOccurs="0" name="claimLIDrugInfo" type="bons2:ClaimLIDrugInfoBO" maxOccurs="unbounded"/>
                    <xsd:element minOccurs="0" name="lobCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="line1099Indicator" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="bpNetworkStatusCode" type="xsd:string"/>
                </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
