C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/InstitutionalLineItemBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="InstitutionalLineItemBO">
        <xsd:sequence>
          <xsd:element name="revenueTypeCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="coPayAmount" type="xsd:double" minOccurs="0"/>
          <xsd:element name="nonCoveredAmount" type="xsd:double" minOccurs="0"/>
            <xsd:element minOccurs="0" name="revenueCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="rateAmount" type="xsd:double"/>
        </xsd:sequence>
        
            
    </xsd:complexType>
</xsd:schema>
