C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/OccurrenceCodeBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="OccurrenceCodeBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
         <xsd:element minOccurs="0" name="sequenceNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="qualifierCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="occurrenceCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dateQualifierCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="occurrenceDate" type="xsd:date"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
