C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/OtherPayerSubmittedProviderIDBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="EnterpriseClaimBO.xsd"/>
    <xsd:include schemaLocation="EnterpriseClaimAuxBO.xsd"/>
    <xsd:include schemaLocation="EDMSSaveFaultBO.xsd"/>
    <xsd:include schemaLocation="EDITrackingBO.xsd"/>
    <xsd:include schemaLocation="ClaimTPLInfoBO.xsd"/>
    <xsd:complexType name="OtherPayerSubmittedProviderIDBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="providerRoleCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="providerIDType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="providerID" type="xsd:string"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
