C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/OverrideExceptionBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">    
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="OverrideExceptionBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">   
    	<xsd:sequence>
                    <xsd:element minOccurs="0" name="exceptionCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="overrideUserID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sequenceNumber" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="overrideExceptionTypeCode" type="xsd:string"/>
                </xsd:sequence>           
   
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
