C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ProfessionalClaimBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ProfessionalClaimBO">
        <xsd:sequence>
          <xsd:element name="outlabAmount" type="xsd:double" minOccurs="0"/>
          <xsd:element name="outlabIndicator" type="xsd:boolean" minOccurs="0"/>          
          <xsd:element name="unableToWorkFromDate" type="xsd:date" minOccurs="0"/>
          <xsd:element name="unableToWorkToDate" type="xsd:date" minOccurs="0"/>
        </xsd:sequence>      
    </xsd:complexType>
</xsd:schema>
