C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ProfessionalLineItemBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ProfessionalLineItemBO">
        <xsd:sequence>
		  <xsd:element name="relatedDiagnosisPointer1" type="xsd:string" minOccurs="0"/>
          <xsd:element name="relatedDiagnosisPointer2" type="xsd:string" minOccurs="0"/>
          <xsd:element name="relatedDiagnosisPointer3" type="xsd:string" minOccurs="0"/>
          <xsd:element name="relatedDiagnosisPointer4" type="xsd:string" minOccurs="0"/>
          <xsd:element name="familyPlanIndicator" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
        
            
    </xsd:complexType>
</xsd:schema>
