C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ReceiverInfoBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:complexType name="ReceiverInfoBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="entityCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="entityTypeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="receiverName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="receiverQualifierCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="receiverID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
