C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/RelatedHistoryBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="RelatedHistoryBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element name="historyTCN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lineNumber" type="xsd:int" minOccurs="0"/>
      <xsd:element name="relatedClaimTypeCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="relatedPaidDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="historyLineNumber" type="xsd:int" minOccurs="0"/>
      <xsd:element name="relatedHistoryTypeCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="claimExceptionCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="exceptionStatusCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="replacedIndcator" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
