C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/SAClaimUpdatesInfoBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
    <xsd:complexType name="SAClaimUpdatesInfoBO">
        <xsd:annotation>
      <xsd:documentation>This Data Object holds the Information of SAClaimUpdatesInfo Domain Object</xsd:documentation>
    </xsd:annotation>
        <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                  
                <xsd:sequence>
          <xsd:element minOccurs="0" name="updateDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="tcn" type="xsd:string"/>
          <xsd:element minOccurs="0" name="lineNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="serviceAuthorizationID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="serviceAuthLineNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="memberSystemID" type="xsd:long"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
