C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/SAEditResultBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons1="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
    <xsd:include schemaLocation="SAClaimUpdatesInfoBO.xsd"/>
    <xsd:include schemaLocation="ClaimSABackoutBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="ClaimSALineItemBO.xsd"/>
    <xsd:include schemaLocation="EnterpriseClaimBO.xsd"/>
    <xsd:complexType name="SAEditResultBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="saLineItems" type="bons1:ClaimSALineItemBO" maxOccurs="unbounded"/>
                    <xsd:element minOccurs="0" name="saClaimUpdatesInfos" type="bons1:SAClaimUpdatesInfoBO" maxOccurs="unbounded"/>
                    <xsd:element minOccurs="0" name="enterpriseClaim" type="bons1:EnterpriseClaimBO"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
