C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/SurgicalProcedureBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="SurgicalProcedureBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
        <xsd:sequence>
        <xsd:element name="sequenceNumber" type="xsd:int" minOccurs="0"/>
	      <xsd:element name="surgProcedureCode" type="xsd:string" minOccurs="0"/>
	      <xsd:element name="surgProcedureDate" type="xsd:date" minOccurs="0"/>
	      <xsd:element name="qualifierCode" type="xsd:string" minOccurs="0"/>
	      <xsd:element name="utilizationCode" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
