C837ClaimsLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo/ToothInformationDataValidationRulesBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ClaimAdjudicationLibrary/com/acs/enterprise/mmis/operations/claimadjudication/process/bo">
  <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="ToothInformationDataValidationRulesBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="toothNumberCodeNotInSL" type="xsd:string"/>
          <xsd:element minOccurs="0" name="surfaceCode1NotInSL" type="xsd:string"/>
          <xsd:element minOccurs="0" name="surfaceCode2NotInSL" type="xsd:string"/>
          <xsd:element minOccurs="0" name="surfaceCode3NotInSL" type="xsd:string"/>
          <xsd:element minOccurs="0" name="surfaceCode4NotInSL" type="xsd:string"/>
          <xsd:element minOccurs="0" name="surfaceCode5NotInSL" type="xsd:string"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
