C837ClaimsLibrary/com/acs/enterprise/common/ediinboundtracking/process/bo/EDIInboundTrackingBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://EDITrackingLibrary/com/acs/enterprise/common/ediinboundtracking/process/bo">
    <xsd:import schemaLocation="../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="EDIInboundTrackingBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="applicationNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="applicationTS" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="applicationTxnRejectCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="applicationTxnStatusCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ediID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ediTS" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="processSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="tradingPartnerID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="transactionTypeCode" type="xsd:string"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
