C837ClaimsLibrary/com/acs/enterprise/common/cots/addressvalidation/bo/AddressResponseDataBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://com/acs/enterprise/cots/geostan" xmlns:bons1="http://AddressValidationLibrary/com/acs/enterprise/common/cots/addressvalidation/bo" xmlns:bons2="http://AddressValidationLibrary/com/acs/enterprise/common/cots/addressvalidation/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://AddressValidationLibrary/com/acs/enterprise/common/cots/addressvalidation/bo">
    <xsd:include schemaLocation="AddressDataBO.xsd"/>
    <xsd:complexType name="AddressResponseDataBO">
        <xsd:annotation>
      <xsd:documentation>AddressResponseDataBO will contain 3 additional fields, which indicates the validity of address.&#13;
&#13;
isValid(boolean) 	Reason code(boolean) 	Reason        description(string)&#13;
&#13;
0 					True 						True 	        null Address matched exactly&#13;
1 					True 						False 		&lt;Line changed&gt; 	Address matched found in GeoStan Database,but there was some change in input address&#13;
2 					False 						- 			- 					Invalid Address&#13;
3					False						-			-					Unhandled Exception</xsd:documentation>
    </xsd:annotation>
        <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="xsd:int"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AddressDataBO" type="bons1:AddressDataBO"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
