C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/ActCMCaseStepBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons3="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons1="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd"/>
    <xsd:include schemaLocation="EnterpriseUserBO.xsd"/>
    <xsd:include schemaLocation="CaseTypeStepBO.xsd"/>
    <xsd:include schemaLocation="CaseRecordBO.xsd"/>
    <xsd:include schemaLocation="WorkUnitBO.xsd"/>
    <xsd:include schemaLocation="AlertBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.administration.process.bo.xsd"/>
    <xsd:complexType name="ActCMCaseStepBO">
    <xsd:complexContent>
      <xsd:extension base="bons3:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="alertBasedOnColName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="alertMetaDataColumn" type="bons0:MetaDataColumnBO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="alerts" type="bons1:AlertBO"/>
      <xsd:element minOccurs="0" name="alertWorkUnit" type="bons1:WorkUnitBO"/>
      <xsd:element minOccurs="0" name="assignWorkUnit" type="bons1:WorkUnitBO"/>
      <xsd:element minOccurs="0" name="beforeAfterCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="caseSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="caseTypeSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="caseTypeStep" type="bons1:CaseTypeStepBO"/>
      <xsd:element minOccurs="0" name="cmCaseStepCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="completBasedOnColName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="completionDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="completionMetaDataColumn" type="bons0:MetaDataColumnBO"/>
      <xsd:element minOccurs="0" name="daysToCompleteNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="expectedCompletionDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="letterTemplate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="noteSet" type="bons2:NoteSetBO"/>
      <xsd:element minOccurs="0" name="phone" type="bons2:PhoneBO"/>
      <xsd:element minOccurs="0" name="sendAlertDaysCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="startDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="stepOrderNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="stepStatusCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ticklerTimeStamp" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="enterpriseUser" type="bons1:EnterpriseUserBO"/>
		    <xsd:element minOccurs="0" name="caseStepSeqNum" type="xsd:int"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
