C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/ActCMCaseEventBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.administration.process.bo.xsd"/>
    <xsd:include schemaLocation="EnterpriseUserBO.xsd"/>
    <xsd:include schemaLocation="CaseTypeEventBO.xsd"/>
    <xsd:include schemaLocation="CaseRecordBO.xsd"/>
    <xsd:include schemaLocation="CaseEventAppointmentBO.xsd"/>
    <xsd:include schemaLocation="AlertBO.xsd"/>
    <xsd:complexType name="ActCMCaseEventBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="alertBasedOnColName" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="alerts" type="bons0:AlertBO"/>
      <xsd:element minOccurs="0" name="beforeAfterCode" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="caseEventAppointments" type="bons0:CaseEventAppointmentBO"/>
      <xsd:element minOccurs="0" name="caseSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="caseTypeEvent" type="bons0:CaseTypeEventBO"/>
      <xsd:element minOccurs="0" name="caseTypeSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="cmCaseEventCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dispositionDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="eaddress" type="xsd:string"/>
      <xsd:element minOccurs="0" name="eventDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="eventDueDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="eventStatusCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="letterTemplate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="metaDataColumn" type="bons1:MetaDataColumnBO"/>
      <xsd:element minOccurs="0" name="sendAlertDaysCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ticklerTimeStamp" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="enterpriseUser" type="bons0:EnterpriseUserBO"/>
		    <xsd:element minOccurs="0" name="caseEventSeqNum" type="xsd:int"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
