C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/AssociatedCaseCorrespondenceBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CorrespondenceRecordBO.xsd"/>
    <xsd:include schemaLocation="CaseRecordBO.xsd"/>
    <xsd:complexType name="AssociatedCaseCorrespondenceBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="caseSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="correspondence" type="bons0:CorrespondenceRecordBO"/>
            <xsd:element minOccurs="0" name="correspondenceSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="voidIndicator" type="xsd:boolean"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
