C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CallScriptBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:include schemaLocation="CallScriptCexBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CategoryBO.xsd"/>
    <xsd:include schemaLocation="SubjectBO.xsd"/>
    <xsd:include schemaLocation="EntityTypeBO.xsd"/>
    <xsd:complexType name="CallScriptBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cex" type="bons0:CallScriptCexBO"/>
      <xsd:element minOccurs="0" name="callScriptStatusCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="callScriptSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="entityType" type="bons0:EntityTypeBO" maxOccurs="unbounded"/>
      <xsd:element minOccurs="0" name="subject" type="bons0:SubjectBO" maxOccurs="unbounded"/>
      <xsd:element minOccurs="0" name="category" type="bons0:CategoryBO" maxOccurs="unbounded"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
