C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CaseBCCPBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo"/>
    <xsd:include schemaLocation="CaseRecordBO.xsd"/>
    <xsd:complexType name="CaseBCCPBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="caseRecordRef" type="xsd:long"/>
            <xsd:element minOccurs="0" name="applicationDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="bccpID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="biopsyDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="caseBCCPBiopsyFundingCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caregiverName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="chemoProjectedEndDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="contactName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseBCCPFinalCancerStageCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bccpFinalMTSTSAreaCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="finalTumorCMSizeNumber" type="xsd:double"/>
            <xsd:element minOccurs="0" name="finalCancerNodesPositiveNumber" type="xsd:int"/>
            <xsd:element minOccurs="0" name="form778SignIndicator" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="bccpCaseRecommendCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="recommendFOllowupMONumber" type="xsd:int"/>
            <xsd:element minOccurs="0" name="consultantDate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="screeningAgencyCMText" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseBCCPScreeningSiteCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="screeningEnrollDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="caseBCCPTreatmentStartedCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="treatmentStartedDate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caregiverPhone" type="bons1:PhoneBO"/>
            <xsd:element minOccurs="0" name="screeningAgencyPhone" type="bons1:PhoneBO"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
