C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CaseTypeStepBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://CorrespondenceLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://ContactMangementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons3="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons2="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:include schemaLocation="ActCMCaseStepBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    
    <xsd:complexType name="CaseTypeStepBO">
    <xsd:complexContent>
      <xsd:extension base="bons3:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="actCMCaseSteps" type="bons2:ActCMCaseStepBO"/>
            <xsd:element minOccurs="0" name="caseType" type="bons2:CaseTypeBO"/>
            <xsd:element minOccurs="0" name="caseTypeSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="cmCaseStepCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="defaultAlertBasedOnColName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="defaultBeforeAfterCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="defaultCompltBasedOnColName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="defaultDaysToCompleteCount" type="xsd:int"/>
            <xsd:element minOccurs="0" name="defaultRouteToWorkUnit" type="bons2:WorkUnitBO"/>
            <xsd:element minOccurs="0" name="defaultSendAlertDaysCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="stepOrderNumber" type="xsd:int"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
