C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CaseDDUBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:include schemaLocation="CaseDDUUnusualCircumstancesBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CaseRecordBO.xsd"/>
    <xsd:include schemaLocation="CaseRequestBO.xsd"/>
    <xsd:complexType name="CaseDDUBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="appealDecisionDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="applicationBeginDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="applicationDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="appointmentTimeStamp" type="xsd:date"/>
            <xsd:element minOccurs="0" name="caseDDUApplicationTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseDDUAuthorizedRepresentTyCd" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseDDUCloseTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseDDUdenialReasonCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseDDUEvaluateType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseDDULOCCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseDDUMedicalDiagnosisCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseDDUpsychiatricDiagnosisCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseDDUUnsualCircumstancesCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseRecordRef" type="xsd:long"/>
            <xsd:element minOccurs="0" name="completedDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="decisionDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="newHGTSCaseNumber" type="xsd:long"/>
            <xsd:element minOccurs="0" name="receiptDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="packetReceivedDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="responseIndicator" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="reviewInitiatedDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="reviewRequiredIndicator" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="scheduleReviewDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="caseDDUUnusualCircumstances" type="bons0:CaseDDUUnusualCircumstancesBO" maxOccurs="unbounded"/>
                    <xsd:element minOccurs="0" name="receivedDate" type="xsd:date"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
