C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CaseARSBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CaseRecordBO.xsd"/>
    <xsd:complexType name="CaseARSBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="caseRecordRef" type="xsd:long"/>
            <xsd:element minOccurs="0" name="appealReceivedIndicator" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="appealResponseDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="caseARSAssessPeriodCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseARSAssessYearCode" type="xsd:int"/>
            <xsd:element minOccurs="0" name="caseARSAuthRepTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseARSCRPICDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="fieldAuditDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="fieldAuditRequiredInd" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="fiscalYearEndDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="homeOfficeDeskReviewResultsDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="homeOfficeInd" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="performCostReportsXChecksInd" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="privatePayRatesLoadedInd" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="privatePayRatesReceivedInd" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="rateSettingDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="scheduleKReceivedInd" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="staffingPatternsUpdateInd" type="xsd:boolean"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
