C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CaseDDUUnusualCircumstancesBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
  <xsd:complexType name="CaseDDUUnusualCircumstancesBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="caseSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="circumstanceTypeCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
