C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CaseLinkBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CaseRecordBO.xsd"/>
    <xsd:complexType name="CaseLinkBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="currentCaseRecordSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="priorCaseRecordSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="case1ArchIndicator" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="case2ArchIndicator" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="priorCaseRecord" type="bons0:CaseRecordBO"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
