C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CaseEventAppointmentBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:include schemaLocation="ActCMCaseEventBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="CaseEventAppointmentBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="caseSK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="caseTypeSK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="cmCaseEventCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="diagnosticExam1Text" type="xsd:string"/>
          <xsd:element minOccurs="0" name="diagnosticExam2Text" type="xsd:string"/>
          <xsd:element minOccurs="0" name="providerCommonEntitySK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="test1Code" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="test2Code" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
