C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CaseCmnEntityXRefBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" xmlns:bons1="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CaseEventAppointmentBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd"/>
    <xsd:complexType name="CaseCmnEntityXRefBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="caseCRContactReasonCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="caseEventAppointments" type="bons1:CaseEventAppointmentBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="caseSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="commonEntity" type="bons0:CommonEntityBO"/>
            <xsd:element minOccurs="0" name="commonEntitySK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="commonEntityTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="overseeingPhysicianIndicator" type="xsd:boolean"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
