C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CaseRequestBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">

    <xsd:include schemaLocation="CustomFieldValueBO.xsd"/>
    <xsd:include schemaLocation="CaseRecordBO.xsd"/>
    <xsd:complexType name="CaseRequestBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="caseRecord" type="bons0:CaseRecordBO"/>
            <xsd:element minOccurs="0" name="listOfCustomFieldValues" type="bons0:CustomFieldValueBO" maxOccurs="unbounded"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
