C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CorrespondenceRoutingBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CorrespondenceRecordBO.xsd"/>
    <xsd:include schemaLocation="WorkUnitBO.xsd"/>
    <xsd:complexType name="CorrespondenceRoutingBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="routedByWorkUnit" type="bons0:WorkUnitBO"/>
            <xsd:element minOccurs="0" name="routedToWorkUnit" type="bons0:WorkUnitBO"/>
            <xsd:element minOccurs="0" name="correspondenceRoutingDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="daysAssignedCount" type="xsd:long"/>
            <xsd:element minOccurs="0" name="routedToWorkUnitSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="correspondenceSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="isCRRoutingNew" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="watchlistIndicator" type="xsd:boolean"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
