C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CorrespondenceLetterRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons2="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons3="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="CorrespondenceRecordBO.xsd"/>
    <xsd:include schemaLocation="CotsLetterRequestBO.xsd"/>
    <xsd:complexType name="CorrespondenceLetterRequest">
    <xsd:complexContent>
      <xsd:extension base="bons3:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="ltrGenReqObj" type="bons0:CotsLetterRequestBO"/>
            <xsd:element minOccurs="0" name="correspondenceSK" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="letterRequestSK" type="xsd:long"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
