C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CorrespondenceCategorySubject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://CorrespondenceLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="SubjectBO.xsd"/>
    <xsd:include schemaLocation="CategoryBO.xsd"/>

    <xsd:complexType name="CorrespondenceCategorySubject">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="categorySK" type="bons0:CategoryBO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="subjectSK" type="bons0:SubjectBO"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
