C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CRCmnEntityXRefBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" xmlns:bons1="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons3="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:include schemaLocation="CorrespondenceRecordBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd"/>
    <xsd:complexType name="CRCmnEntityXRefBO">
    <xsd:complexContent>
      <xsd:extension base="bons3:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="correspondenceSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="commonEntitySK" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="caseCRContactReasonCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="commonEntity" type="bons0:CommonEntityBO"/>
                    <xsd:element minOccurs="0" name="commonEntityTypeCode" type="xsd:string"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
