C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CreateCRServiceErrorBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ContactManagementLibrary">
  <xsd:complexType name="CreateCRServiceErrorBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="errorCode" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element minOccurs="0" name="errorMsg" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
