C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CustomFieldAssignBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:include schemaLocation="CustomFieldScopeBO.xsd"/>
    <xsd:include schemaLocation="CategoryBO.xsd"/>
    <xsd:include schemaLocation="CorrespondenceCategorySubject.xsd"/>
    <xsd:complexType name="CustomFieldAssignBO">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="caseType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="correspondenceCategory" type="bons0:CategoryBO"/>
            <xsd:element minOccurs="0" name="customFieldScope" type="bons0:CustomFieldScopeBO"/>
            <xsd:element minOccurs="0" name="customFieldSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="customFieldTableID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="displaySortOrderNum" type="xsd:int"/>
            <xsd:element minOccurs="0" name="modifyAfterSaveIndicator" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="requiredIndicator" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="subjectAreaSK" type="xsd:long"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
