C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/CustomFieldValueBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:include schemaLocation="CustomFieldBO.xsd"/>
    <xsd:include schemaLocation="CustomFieldScopeBO.xsd"/>
   
    <xsd:include schemaLocation="CustomFieldAssignBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd"/>
  <xsd:complexType name="CustomFieldValueBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="customFieldSK" type="xsd:long"/>
          <xsd:element minOccurs="0" name="customFieldTableID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="customFieldValue" type="xsd:string"/>
          <xsd:element minOccurs="0" name="dataTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="description" type="xsd:string"/>
          <xsd:element minOccurs="0" name="numericScaleNumber" type="xsd:int"/>
          <xsd:element minOccurs="0" name="requiredValueIndicator" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="totalLengthInBytes" type="xsd:int"/>
          <xsd:element minOccurs="0" name="valueProtectedIndicator" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="voidIndicator" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="customFieldScope" type="bons1:CustomFieldScopeBO"/>
                    <xsd:element minOccurs="0" name="customField" type="bons1:CustomFieldBO"/>
                </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
