C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/DepartmentUserBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:include schemaLocation="EnterpriseUserBO.xsd"/>
    <xsd:include schemaLocation="DepartmentBO.xsd"/>
    <xsd:complexType name="DepartmentUserBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="departmentSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="userEnterpriseSK" type="xsd:long"/>
      <xsd:element minOccurs="0" name="supervisorIndicator" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="department" type="bons0:DepartmentBO"/>
            <xsd:element minOccurs="0" name="enterpriseUser" type="bons0:EnterpriseUserBO"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
