C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/Message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="WorkUnitBO.xsd"/>
    <xsd:complexType name="Message">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="fromWorkUnit" type="bons0:WorkUnitBO">
        <xsd:annotation>
          <xsd:documentation>Message Domain Object which holds the information like:&#13;
&#13;
1. fromWorkUnit, which holds the user information who sends the internal message.&#13;
2. msgImportanceCode, which holds the severity level of the internal message.&#13;
3. msgReceiverList, which holds the collection of MessageReceiver domain object(list of user's who receives the internal message).&#13;
4.msgSK, key to the internal message.&#13;
5.msgSubjectText, which holds the internal message subject information.&#13;
6.msgText, which holds the actual text of the internal message.&#13;
7.msgTimeStamp, which holds the date/timestamp of the internal message.&#13;
  &#13;
&#13;
&#13;
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="msgSeverity" type="xsd:string"/>
      <xsd:element minOccurs="0" name="messageSk" type="xsd:long"/>
      <xsd:element minOccurs="0" name="subjectText" type="xsd:string"/>
      <xsd:element minOccurs="0" name="msgText" type="xsd:string"/>
      <xsd:element minOccurs="0" name="messageTimeStamp" type="xsd:string"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
