C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/ResponseDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd"/>
    <xsd:complexType name="ResponseDocument">
        <xsd:annotation>
      <xsd:documentation>This domain object holds the ContactManagement responce details</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="communicationMethodCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="daysUntilClosed" type="xsd:long"/>
      <xsd:element minOccurs="0" name="noteSetSK" type="bons0:NoteSetBO"/>
      <xsd:element minOccurs="0" name="optionalText" type="xsd:string"/>
      <xsd:element minOccurs="0" name="processDate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="respDocPageID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="respDocSK" type="xsd:string"/>
      <xsd:element minOccurs="0" name="respDocStatusCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="respExplnPageID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sendToDate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sprvsrRevwReqdIndicator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="wokringdaysUntilClosed" type="xsd:long"/>
      <xsd:element minOccurs="0" name="workUnitSK" type="xsd:string"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
