C837ClaimsLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo/WorkUnitBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:bons1="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://ContactManagementLibrary/com/acs/enterprise/mmis/program/contactmanagment/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="DepartmentBO.xsd"/>
    <xsd:include schemaLocation="EnterpriseUserBO.xsd"/>
    <xsd:include schemaLocation="../../../../../../../../xsd-includes/http.ContactManagementLibrary.com.acs.enterprise.mmis.program.contactmanagment.process.bo.xsd"/>
    <xsd:complexType name="WorkUnitBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="workUnitSK" type="xsd:long"/>
            <xsd:element minOccurs="0" name="workUnitTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="messages" type="bons0:Message"/>
            <xsd:element minOccurs="0" name="messageReceivers" type="bons0:MessageReceiverBO"/>
            <xsd:element minOccurs="0" name="enterpriseUser" type="bons0:EnterpriseUserBO"/>
            <xsd:element minOccurs="0" name="department" type="bons0:DepartmentBO"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
