C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/BaseGeneralIndicatorsBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
  <xsd:complexType name="BaseGeneralIndicatorsBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="abortionIndicator" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="hysterectomyIndicator" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
