C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/ClaimExceptionRemarkBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:include schemaLocation="RemarkCodeTextBO.xsd"/>
    <xsd:include schemaLocation="ClaimExceptionBO.xsd"/>
    <xsd:include schemaLocation="AdjustmentReasonTextBO.xsd"/>
    <xsd:complexType name="ClaimExceptionRemarkBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="documentType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="claimTypeCod" type="xsd:string"/>
      <xsd:element minOccurs="0" name="adjustReason" type="bons0:AdjustmentReasonTextBO"/>
      <xsd:element minOccurs="0" name="lobCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="claimException" type="bons0:ClaimExceptionBO"/>
      <xsd:element minOccurs="0" name="adjudRemark" type="xsd:string"/>
            <xsd:element minOccurs="0" name="suspenseRemark" type="bons0:RemarkCodeTextBO"/>
            <xsd:element minOccurs="0" name="adjudEOB" type="xsd:string"/>
            <xsd:element minOccurs="0" name="suspenseEOB" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
