C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/DiagnosisCodeDetailBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="DiagnosisGeneralIndicatorsBO.xsd"/>
    <xsd:include schemaLocation="DiagnosisGeneralCodesBO.xsd"/>
    <xsd:include schemaLocation="DiagnosisCodeBO.xsd"/>
    <xsd:include schemaLocation="AgeRangeBO.xsd"/>
    <xsd:complexType name="DiagnosisCodeDetailBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="beginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="endDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="icdVersionCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ageRange" type="bons0:AgeRangeBO"/>
      <xsd:element minOccurs="0" name="diagnosisGeneralIndicators" type="bons0:DiagnosisGeneralIndicatorsBO"/>
      <xsd:element minOccurs="0" name="diagnosisGeneralCodes" type="bons0:DiagnosisGeneralCodesBO"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
