C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/EventLogInquiryBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
  <xsd:complexType name="EventLogInquiryBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="eventLoggingInquirySK" type="xsd:int"/>
      <xsd:element minOccurs="0" name="eventTimeStamp" type="xsd:date"/>
      <xsd:element minOccurs="0" name="eventWebUserID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="portletName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
