C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/EventLogInquiryKeyDataBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:include schemaLocation="EventLogInquiryBO.xsd"/>
    <xsd:complexType name="EventLogInquiryKeyDataBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tableName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="columnName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="primaryColumnValue" type="xsd:string"/>
      <xsd:element minOccurs="0" name="EventLogInquiry" type="xsd:string"/>
      <xsd:element minOccurs="0" name="eventLogInquiry" type="bons0:EventLogInquiryBO"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
