C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/ICDGeneralCodesBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:include schemaLocation="BaseGeneralCodesBO.xsd"/>
    <xsd:complexType name="ICDGeneralCodesBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:BaseGeneralCodesBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="retainHistoryCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="familyPlanningCode" type="xsd:string"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
