C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/ICDGeneralIndicatorsBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
  <xsd:include schemaLocation="BaseGeneralIndicatorsBO.xsd"/>
  <xsd:complexType name="ICDGeneralIndicatorsBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:BaseGeneralIndicatorsBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="icdUpdateIndicator" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="sterilizationIndicator" type="xsd:boolean"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
