C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/ICDSurgicalProcedureDetailBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:bons1="http://EnterpriseLibrary" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="ICDGeneralIndicatorsBO.xsd"/>
    <xsd:include schemaLocation="AgeRangeBO.xsd"/>
    <xsd:include schemaLocation="ICDGeneralCodesBO.xsd"/>
    <xsd:complexType name="ICDSurgicalProcedureDetailBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="procGrprNum" type="xsd:long"/>
      <xsd:element minOccurs="0" name="procVerCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="beginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="icdGeneralCodes" type="bons0:ICDGeneralCodesBO"/>
      <xsd:element minOccurs="0" name="ageRange" type="bons0:AgeRangeBO"/>
      <xsd:element minOccurs="0" name="icdGeneralIndicators" type="bons0:ICDGeneralIndicatorsBO"/>
            <xsd:element minOccurs="0" name="endDate" type="xsd:date"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
