C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/LineOfBusinessBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo"/>
    
    <xsd:complexType name="LineOfBusinessBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="accountName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="allowOverlapMemberCoverage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="claimFileLimit" type="xsd:long"/>
      <xsd:element minOccurs="0" name="beginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="endAdjudicationDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="ffpIndicator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lobCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lobName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lobType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="maxCompoundAmt" type="xsd:double"/>
      <xsd:element minOccurs="0" name="otherInsurance" type="xsd:long"/>
      <xsd:element minOccurs="0" name="stepCareIndicator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="unitDosageDispFee" type="xsd:double"/>
      <xsd:element minOccurs="0" name="verifyAge" type="xsd:long"/>
      <xsd:element minOccurs="0" name="pmtCycleCode" type="xsd:string"/>

        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
