C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/ProcedureCodeHCPCSBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:complexType name="ProcedureCodeHCPCSBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="hcpcsText" type="xsd:string"/>
            <xsd:element minOccurs="0" name="procedureCodeRef" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
