C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/ProcedureCodeCrossRefBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="ProcedureCodeCrossRefBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="localProcedureCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nationalProcedureCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="procedureModifierCode1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="procedureModifierCode2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="procedureModifierCode3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="procedureModifierCode4" type="xsd:string"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
