C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/procedureMCarePCTBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:include schemaLocation="ProcedureCodeBO.xsd"/>
    <xsd:complexType name="procedureMCarePCTBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="procedureMCareAMT" type="xsd:double"/>
      <xsd:element minOccurs="0" name="beginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="endDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="procedureCode" type="bons0:ProcedureCodeBO"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
