C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/ProcedureRateBenefitPlanBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo"/>
    <xsd:include schemaLocation="ProcedureCodeBO.xsd"/>
    <xsd:complexType name="ProcedureRateBenefitPlanBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="procedureCode" type="bons0:ProcedureCodeBO"/>
      <xsd:element minOccurs="0" name="benefitPlanID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="noteSet" type="bons1:NoteSetBO"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
