C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/ProgramBasePricingBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:include schemaLocation="ProgramBaseDomainBO.xsd"/>
    <xsd:include schemaLocation="LineOfBusinessBO.xsd"/>
    <xsd:complexType name="ProgramBasePricingBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:ProgramBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="factorCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="maxAllowAmount" type="xsd:double"/>
      <xsd:element minOccurs="0" name="sourceCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="reasonCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="maxUnits" type="xsd:int"/>
      <xsd:element minOccurs="0" name="lob" type="bons0:LineOfBusinessBO"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
