C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/RateRCProviderNetworkBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:include schemaLocation="RateRevenueCodeBO.xsd"/>
    <xsd:include schemaLocation="RevenueCodeBO.xsd"/>
    <xsd:complexType name="RateRCProviderNetworkBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:RateRevenueCodeBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="networkID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="providerAltID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="providerAltIDTypeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="providerSysID" type="xsd:long"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
