C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/RateBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
  <xsd:include schemaLocation="ProgramBaseDomainBO.xsd"/>
  <xsd:complexType name="RateBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:ProgramBaseDomainBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="rateAmount" type="xsd:double"/>
          <xsd:element minOccurs="0" name="rateSourceCode" type="xsd:string"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
