C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/RateRCProviderNetworkRegionBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
  <xsd:include schemaLocation="RateRevenueCodeBO.xsd"/>
  <xsd:complexType name="RateRCProviderNetworkRegionBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:RateRevenueCodeBO">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="providerSysID" type="xsd:long"/>
          <xsd:element minOccurs="0" name="providerAltID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="providerAltIDTypeCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="networkID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="regionCode" type="xsd:string"/>
        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
