C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/SystemParameterBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:include schemaLocation="SystemParameterDetailBO.xsd"/>
    <xsd:complexType name="SystemParameterBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="functionalArea" type="xsd:string"/>
      <xsd:element minOccurs="0" name="parameterName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="parameterTypeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="systemParameterDetail" type="bons0:SystemParameterDetailBO" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
