C837ClaimsLibrary/com/acs/enterprise/common/program/administration/process/bo/ValidValueDomainBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo">
    <xsd:complexType name="ValidValueDomainBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="functionalArea" type="xsd:string"/>
      <xsd:element minOccurs="0" name="displaySystemListIndicator" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
