C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/BenefitPlanOptionBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="EnrollmentTriggerBO.xsd"/>
    <xsd:include schemaLocation="EnrollmentSpanBO.xsd"/>
    <xsd:include schemaLocation="EmploymentInformationBO.xsd"/>
    <xsd:include schemaLocation="EligibilitySpanBO.xsd"/>
    <xsd:include schemaLocation="EligibilityGuaranteeBO.xsd"/>
    <xsd:complexType name="BenefitPlanOptionBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="memberSystemID" type="xsd:long"/>
      <xsd:element minOccurs="0" name="benefitPlanOptionIdentifier" type="xsd:string"/>
      <xsd:element minOccurs="0" name="auditAddDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="benefitPlanBeginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="memberBPBeginDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="memberBPEndDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="optionsOfferedDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="autoAssignmentDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="bpCurrentAvailability" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="defaultBPIdentifier" type="xsd:string"/>
    </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
