C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/CaseOwnerBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:complexType name="CaseOwnerBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:EnterpriseBaseDomainBO">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="caseOwnerSK" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="caseOwnerBeginDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="caseOwnerEndDate" type="xsd:date"/>
                    <xsd:element minOccurs="0" name="caseWorkerID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="caseWorkerName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="caseDistrictOfficeCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="workAdminCountyCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="caseOwnerVoidIndicator" type="xsd:boolean"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
