C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/DuplicateSearchCriteriaBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:include schemaLocation="SuspectDuplicateBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>

    <xsd:include schemaLocation="MemberSearchResultBO.xsd"/>
    <xsd:complexType name="DuplicateSearchCriteriaBO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="dob" type="xsd:date"/>
      <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gender" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="minFirstNameLength" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ssn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dupType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sysID" type="xsd:long"/>
      <xsd:element minOccurs="0" name="lobCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="duplicateMembers" type="bons0:MemberSearchResultBO" maxOccurs="unbounded"/>
                    <xsd:element minOccurs="0" name="duplicateMemberCount" type="xsd:int"/>
            <xsd:element minOccurs="0" name="dupReasonCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="suspectDuplicates" type="bons0:SuspectDuplicateBO" maxOccurs="unbounded"/>
        </xsd:sequence>
        
                  
            
    </xsd:complexType>
</xsd:schema>
