C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/EligibilityGuaranteeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:include schemaLocation="EligibilityGuaranteeBO.xsd"/>
    <xsd:complexType name="EligibilityGuaranteeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="eligibilityGuarantee" type="bons0:EligibilityGuaranteeBO"/>
      <xsd:element minOccurs="0" name="status" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="eligibilityGuaranteeNumber" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
