C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/LegalLiabilityBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.administration.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo"/>
    <xsd:include schemaLocation="MemberBO.xsd"/>
    <xsd:include schemaLocation="CaseBO.xsd"/>
    <xsd:include schemaLocation="MemberSpanBaseDomainBO.xsd"/>
  <xsd:complexType name="LegalLiabilityBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:MemberSpanBaseDomainBO">
                <xsd:sequence>
  <xsd:element minOccurs="0" name="legalLiabilityCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="member" type="bons0:MemberBO"/>
                    <xsd:element minOccurs="0" name="lobCode" type="xsd:string"/>

        </xsd:sequence>
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
