C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/LTCSpanBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo" xmlns:bons2="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.ProviderEnrollmentLibrary.com.acs.enterprise.mmis.provider.enrollment.process.bo.xsd" namespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo"/>
    <xsd:include schemaLocation="MemberURLimitBO.xsd"/>
    <xsd:include schemaLocation="MemberSpanBaseDomainBO.xsd"/>
    <xsd:include schemaLocation="MemberSearchResultBO.xsd"/>
    <xsd:include schemaLocation="MemberRulesCriteriaBO.xsd"/>
    <xsd:include schemaLocation="MemberResultBO.xsd"/>
    <xsd:include schemaLocation="MemberInformationRequestBO.xsd"/>
    <xsd:include schemaLocation="MemberIDBO.xsd"/>
    <xsd:include schemaLocation="MemberEnrollmentTriggerBO.xsd"/>
    <xsd:include schemaLocation="MemberDataBO.xsd"/>
    <xsd:include schemaLocation="McareSpanBO.xsd"/>
    <xsd:include schemaLocation="MassEnrollmentTriggerBO.xsd"/>
    <xsd:include schemaLocation="MemberBO.xsd"/>
    <xsd:import namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" schemaLocation="../../../../../common/program/administration/process/bo/LineOfBusinessBO.xsd"/>
    <xsd:complexType name="LTCSpanBO">
    <xsd:complexContent>
      <xsd:extension base="bons1:MemberSpanBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="levelOfCareCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="primaryDiagonosisCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="secondaryDiagonosisCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="reviewTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="admitFrmCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="terminateReasonCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ltcSpanTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="providerAltID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="providerAltIDTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="dischargeDestCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="lob" type="bons0:LineOfBusinessBO"/>
                    <xsd:element minOccurs="0" name="provider" type="bons2:ProviderBO"/>
                    <xsd:element minOccurs="0" name="lobCode" type="xsd:string"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
