C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/McareSpanBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:include schemaLocation="MemberSpanBaseDomainBO.xsd"/>
    <xsd:include schemaLocation="MemberSearchResultBO.xsd"/>
    <xsd:include schemaLocation="MemberRulesCriteriaBO.xsd"/>
    <xsd:include schemaLocation="MemberResultBO.xsd"/>
    <xsd:include schemaLocation="MemberInformationRequestBO.xsd"/>
    <xsd:include schemaLocation="MemberIDBO.xsd"/>
    <xsd:include schemaLocation="MemberEnrollmentTriggerBO.xsd"/>
    <xsd:include schemaLocation="MemberDataBO.xsd"/>
    <xsd:include schemaLocation="MemberBO.xsd"/>
    <xsd:include schemaLocation="MassEnrollmentTriggerBO.xsd"/>
    <xsd:complexType name="McareSpanBO">
    <xsd:complexContent>
      <xsd:extension base="bons0:MemberSpanBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="mcarePartCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="mcareID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="updateSrcCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="eligibilityCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="mcareDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="mcarePlanID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="mcarePendInd" type="xsd:string"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
