C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/MemberDataBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
  <xsd:complexType name="MemberDataBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dob" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gender" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ssn" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
