C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/MemberSystemParameterRequestBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.administration.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/administration/process/bo"/>
    <xsd:complexType name="MemberSystemParameterRequestBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="functionalArea" type="xsd:string"/>
      <xsd:element minOccurs="0" name="parameterNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="systemParameterDetail" type="bons0:SystemParameterDetailBO"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
