C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/MemberBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo" xmlns:bons1="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo" xmlns:bons3="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" xmlns:bons0="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:include schemaLocation="PCPSpanBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>
    <xsd:include schemaLocation="EligibilityGuaranteeBO.xsd"/>
    <xsd:include schemaLocation="PreviousSSNBO.xsd"/>
    <xsd:include schemaLocation="PreviousLivingArrangementBO.xsd"/>
    <xsd:include schemaLocation="PreviousGenderBO.xsd"/>
    <xsd:include schemaLocation="PreviousEthinicityBO.xsd"/>
    <xsd:include schemaLocation="PreviousDateOfDeathBO.xsd"/>
    <xsd:include schemaLocation="PreviousDateOfBirthBO.xsd"/>
    <xsd:include schemaLocation="MemberURLimitBO.xsd"/>
   <xsd:include schemaLocation="BenefitPlanOptionBO.xsd"/>
    <xsd:include schemaLocation="SwipeCardBO.xsd"/>
    <xsd:include schemaLocation="PCPSpanBO.xsd"/>
    <xsd:include schemaLocation="SwipeRequestBO.xsd"/>
    <xsd:include schemaLocation="McareSpanBO.xsd"/>
    <xsd:include schemaLocation="LiabilitySpanBO.xsd"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.program.commonentities.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/program/commonentities/process/bo"/>
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.ProviderEnrollmentLibrary.com.acs.enterprise.mmis.provider.enrollment.process.bo.xsd" namespace="http://ProviderEnrollmentLibrary/com/acs/enterprise/mmis/provider/enrollment/process/bo"/>
    <xsd:include schemaLocation="EnrollmentSpanBO.xsd"/>
    <xsd:include schemaLocation="EnrollmentTriggerBO.xsd"/>
    <xsd:include schemaLocation="LockinSpanBO.xsd"/>
    <xsd:include schemaLocation="PreviousNameBO.xsd"/>
    <xsd:include schemaLocation="LTCSpanBO.xsd"/>
    <xsd:include schemaLocation="SuspectDuplicateBO.xsd"/>
    <xsd:include schemaLocation="SpendDownBO.xsd"/>
    <xsd:include schemaLocation="DisabilityInformationBO.xsd"/>
    <xsd:include schemaLocation="EligibilitySpanBO.xsd"/>
    <xsd:include schemaLocation="DemographicInformationBO.xsd"/>
    <xsd:complexType name="MemberBO">
    <xsd:complexContent>
      <xsd:extension base="bons3:EnterpriseBaseDomainBO">
                <xsd:sequence>
            <xsd:element minOccurs="0" name="systemID" type="xsd:long"/>
      <xsd:element minOccurs="0" name="currAltID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="currAltIDTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="demographicInformation" type="bons0:DemographicInformationBO"/>
            <xsd:element minOccurs="0" name="peProvider" type="bons2:ProviderBO"/>
            <xsd:element minOccurs="0" name="commonEntity" type="bons1:CommonEntityBO"/>
            <xsd:element minOccurs="0" name="eligibilitySpans" type="bons0:EligibilitySpanBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="liabilitySpans" type="bons0:LiabilitySpanBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="lockinSpans" type="bons0:LockinSpanBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="ltcSpans" type="bons0:LTCSpanBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="medicareSpans" type="bons0:McareSpanBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="pcpSpans" type="bons0:PCPSpanBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="memberBPOptions" type="bons0:BenefitPlanOptionBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="previousName" type="bons0:PreviousNameBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="spendDown" type="bons0:SpendDownBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="swipeCard" type="bons0:SwipeCardBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="enrollmentSpans" type="bons0:EnrollmentSpanBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="swipeCardRequest" type="bons0:SwipeRequestBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="memberPreviousMedicare" type="bons2:PreviousMedicaidBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="memberURLimit" type="bons0:MemberURLimitBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="previousDateOfBirth" type="bons0:PreviousDateOfBirthBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="previousDateOfDeath" type="bons0:PreviousDateOfDeathBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="previousEthinicity" type="bons0:PreviousEthinicityBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="previousGender" type="bons0:PreviousGenderBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="previousLivingArrangement" type="bons0:PreviousLivingArrangementBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="previousSSN" type="bons0:PreviousSSNBO" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="eligibilityGuarantee" type="bons0:EligibilityGuaranteeBO" maxOccurs="unbounded"/>
                    <xsd:element minOccurs="0" name="batchStringText" type="xsd:string"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
