C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/MemberIDBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
  <xsd:complexType name="MemberIDBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sysID" type="xsd:long"/>
      <xsd:element minOccurs="0" name="enterpriseID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
