C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/SpendDownDetailsBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo" xmlns:bons2="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
    <xsd:import schemaLocation="../../../../../../../../xsd-includes/http.EnterpriseLibrary.com.acs.enterprise.common.base.process.bo.xsd" namespace="http://EnterpriseLibrary/com/acs/enterprise/common/base/process/bo"/>

    <xsd:complexType name="SpendDownDetailsBO">
    <xsd:complexContent>
      <xsd:extension base="bons2:EnterpriseBaseDomainBO">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="spendDownDetailSeqNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="liabTCNNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="spendDownAmount" type="xsd:double"/>
      <xsd:element minOccurs="0" name="spendDownAsOfDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="spendDownRefNumber" type="xsd:long"/>
      <xsd:element minOccurs="0" name="spendDownRefTypeCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="voidIndicator" type="xsd:boolean"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
