C837ClaimsLibrary/com/acs/enterprise/mmis/member/common/process/bo/TransactionStatusBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MemberLibrary/com/acs/enterprise/mmis/member/common/process/bo">
  <xsd:complexType name="TransactionStatusBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="actionCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="txnCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="altID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="altIDTypeCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
